.widget3{
    flex: 1;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    padding: 20px;
    margin-right: 20px;
    height:300px;
}

.widget3Title{
    font-size: 22px;
    font-weight: 600;
}

.widget3Img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.widget3List{
    margin: 0;
    padding: 0;
    list-style: none;
}

.widget3ListItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
}

.widget3User{
    display: flex;
    flex-direction: column;
}

.widget3Username{
    font-weight: 600;
}

.widget3UserTitle{
    font-weight: 300;
}

.widget3Button{
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 7px 10px;
    background-color: #eeeef7;
    color: #555;
    cursor: pointer;
}

.widget3Icon{
    font-size: 16px !important;
    margin-right: 5px;
}